.title {
    background-color: aquamarine;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: .04em .04em .04em rgba(0,0,0,.4);
}

.imagen {

    width: 500px;
    height: auto;
    border-radius: 10px;
    border-color: aquamarine;
    
}

.centrarimg {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subtitle {

    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: aqua;
    -webkit-text-stroke: .02em black;
    text-shadow: .04em .04em .04em rgba(0,0,0,.4);
}

.list {

    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 0;
    padding-left: 10px;
    color: brown;
    font-size: 18px;
}